<div class="mx-auto max-w-full px-24 sm:px-6 lg:px-8 py-12">
  <div class="mb-5">
    <%= link_to "+ Add New Member", new_board_board_user_path(@board), class: "inline-flex item-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
  </div>

  <div 
    class="mx-auto max-w-full" 
    id="board" 
    style="overflow-x: scroll;" 
    data-controller="board"
    data-api-url="<%= api_board_lists_path(@board) %>"
    data-list-position-api-url="<%= api_board_list_positions_path(@board) %>"
    data-item-position-api-url="<%= api_item_positions_path %>"
    data-board-lists-url="<%= board_lists_path(@board) %>"
    data-board-id="<%= @board.id %>"
  >
  </div>
</div>

<%= render "shared/modal" %>