<div class="bg-white mt-12 px-8 py-8 rounded-md">
  <%= form_with model: [board, board_user], url: board_board_users_path(board), local: true do |f| %>
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <div>
          <div class="mb-5">
            <h2 class="text-base/7 font-semibold text-gray-900">Board Member List</h2>
            <p class="mt-1 text-sm/6 text-gray-600">This form adds/remove board members.</p>
          </div>

          <fieldset>
            <legend class="text-lg font-medium text-gray-900">Members</legend>

            <div class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200">
              <% users.each do |user| %>
                <div class="relative flex items-start py-4">
                  <div class="min-w-0 flex-1 text-sm">
                    <%= f.label :user_ids, class: "select-none font-medium text-gray-700" do %>
                      <%= user.email %>
                    <% end %>
                  </div>

                  <div class="ml-3 flex h5 items-center">
                    <%= f.check_box :user_ids, {multiple: true, checked: board.members.include?(user), disabled: board.user==user, class:"h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"}, user.id %>
                  </div>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <%= link_to "Cancel", root_path, class: "text-sm/6 font-semibold text-gray-900" %>
      <%= f.submit "Assign Members", class: "cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-60" %>
    </div>
  <% end %>
</div>